/* CSS */
.btnkme {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 20px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Arial', sans-serif; monospace;
  height: 60px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 22px;
}

.btnkme:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btnkme:hover {
  box-shadow: rgba(0, 150, 255, .6) 0 8px 16px, rgba(0, 150, 255, .4) 0 10px 20px -5px, #007bff 0 -5px 0 inset;
  transform: translateY(-3px); /**/
}

.btnkme:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.button-container {
  display: flex;
  flex-direction: column; /* Stacks buttons vertically */
  gap: 20px; /* Space between buttons */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensures buttons are above other content */
}

/* Styles for individual buttons */
.button {
  padding: 15px 30px;
  font-size: 20px;
  color: white;
  background-color: #007bff; /* Example background color */
  border: none;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;